<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <script type="text/javascript" src="js/printcsv.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="wrapper">
      <div class="main">
        <div class="box">
          <h2>Temperature [℃]</h2>
          <canvas id="temperature" class="graph"></canvas>
        </div>
        <div class="box">
          <h2>Humidity [％]</h2>
          <canvas id="humidity" class="graph"></canvas>
        </div>
      </div>
    </div>
  </body>
</html>
